workflows/CivicFix - Follow-up Agent.json
{
  "name": "CivicFix - Follow-up Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "ba5b52ba-eb80-46d5-be3f-78ec88bb97a4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app2QCpdeJTZAsJeG",
          "mode": "list",
          "cachedResultName": "CivicFix",
          "cachedResultUrl": "https://airtable.com/app2QCpdeJTZAsJeG"
        },
        "table": {
          "__rl": true,
          "value": "tbl40Vk6MQxxSr6Ni",
          "mode": "list",
          "cachedResultName": "Complaints",
          "cachedResultUrl": "https://airtable.com/app2QCpdeJTZAsJeG/tbl40Vk6MQxxSr6Ni"
        },
        "filterByFormula": "{status} = 'Submitted'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "5ee9808b-3b44-439d-a2c2-7cad92f21164",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "lNVZHQgKLXhDTlGR",
          "name": "Airtable Personal Access Token account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Draft a short, polite follow-up note asking municipal staff for a status update on this civic complaint:\n\nCategory: {{ $json.fields.category }}\nLocation: {{ $json.fields.location }}\nUrgency: {{ $json.fields.urgency }}\n\nKeep it under 3 sentences.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "b2fd18f9-a56b-429c-9a19-c8e9aa02d925",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        176
      ],
      "id": "2174d3ba-4627-4085-a9d1-33e0066b85f9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "KYH7NRQ4kahJrsoo",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22a3aa78-c98c-492e-917a-b697d1ab4c8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7548a3b423a0be3d95f0b82c983d2dbfe880da24fb2cdd9802f255eb757cc524"
  },
  "nodeGroups": [],
  "id": "cEss5PNHfZ9ZZR2s",
  "tags": []
}